.fa-skype, .fa-facebook-official, .fa-linkedin, .fa-github, .fa-whatsapp { 
  font-size: 35px;
  padding: 10px;
  }

.skype:hover{
    color: #00AEEF;
    font-size: 40px;
}

.facebook:hover{
    color:#3B5998;
    font-size: 40px;
}

.linkedin:hover{
    color:#0177B5;
    font-size: 40px;
}

.github:hover{
    color: black;
    font-size: 40px;
}

.whatsapp:hover{
    color: #28A119;
    font-size: 40px;
}

.sk, .fb, .li, .gi, .whp {
    font-size: 48px;
    padding: 10px;
}

.sk:hover, .fb:hover, .li:hover, .gi:hover, .whp:hover {font-size: 65px;}

.sk{color: #00AEEF;}

.fb{color:#3B5998;}

.li{color:#0177B5;}

.gi{color: black;}

.whp{color: #28A119;}

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}

.w3-row-padding img {margin-bottom: 12px}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/perfil.png');
    min-height: 100%;
}
