 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Página web en remodelacion, asi es aestamos remodelando esta pagina para que tenga un diseño más pro y nuevas funcionalidades. espera el lanzamiento de nuestras dos nuevas empresas, es sorpresa asi es, no puedo decxirles en que se enfocaran pero si abra dos nuevas empresas</p>
                </div>
                <div class="col-lg-4">
                    <p>mientras tanto puedes visitar mi blog para que yo gane dinero, no es por ser mala onda pero si la verdad hago blogging por que me gusta enseñar y tambien porque no ganar algunos dólares. En un o dos meses m{as ya estara listo mi primer libro.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://kuatroestrellas.github.io/descargas/cvarturovgutierrez.pdf" class="btn btn-lg btn-outline" target="_blank" download>
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                </div>
            </div>
        </div>
    </section>
